volumes/db/data
volumes/storage
volumes/milvus/rdb_data
volumes/milvus/rdb_data_meta_kv
volumes/etcd
volumes/nginx/**/*.conf
volumes/nginx/.htpasswd
volumes/ssl/*.crt
volumes/ssl/*.csr
volumes/ssl/*.key
volumes/ssl/*.pass
volumes/ssl/*.srl
.env
volumes/api/kong.yml
test.http
docker-compose.override.yml
values-substituded.yaml
kubernetes/release
kubernetes/Chart.yaml
kubernetes/values.yaml